# Pokemon

### Introduction:

This time you will create the data.

### Step 1. Import necessary Libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Create a data dictionary that looks like Dataframe below

In [10]:
dict = {'Evoulution':['Ivasaur','Charmeleon','Wartortle','Metapood'],
        'HP': [45,39,44,45],
        'Name': ['Balbasaur','Charmendar','Squirtle','Caterpie'],
        'Pokedex':['Yes','No','Yes','No'],
        'Type': ['Grass', 'Fire', 'Water', 'Bug']}

### Step 3. Assign it to a variable called Pokemon

In [11]:
pokemon = pd.DataFrame(dict)
pokemon

   Evoulution  HP        Name Pokedex   Type
0     Ivasaur  45   Balbasaur     Yes  Grass
1  Charmeleon  39  Charmendar      No   Fire
2   Wartortle  44    Squirtle     Yes  Water
3    Metapood  45    Caterpie      No    Bug

### Step 4. columns are not placed properly, reorder as Name, Type, HP, Evolution, Pokedex

In [12]:
pokemon = pokemon.reindex(columns = ['Name','Type','HP','Evolution', 'Pokedex'])

In [13]:
pokemon

         Name   Type  HP  Evolution Pokedex
0   Balbasaur  Grass  45        NaN     Yes
1  Charmendar   Fire  39        NaN      No
2    Squirtle  Water  44        NaN     Yes
3    Caterpie    Bug  45        NaN      No

### Step 5. Add a column named as place and put any loaction

In [17]:
pokemon['Place'] = ['London', 'New York', 'Frankfurt', 'Sopot']

In [18]:
pokemon

         Name   Type  HP  Evolution Pokedex      place      Place
0   Balbasaur  Grass  45        NaN     Yes     London     London
1  Charmendar   Fire  39        NaN      No   New York   New York
2    Squirtle  Water  44        NaN     Yes  Frankfurt  Frankfurt
3    Caterpie    Bug  45        NaN      No      Sopot      Sopot

### Step 6. Present the dtype of each column

In [22]:
pokemon.dtypes

Name          object
Type          object
HP             int64
Evolution    float64
Pokedex       object
place         object
Place         object
dtype: object